.awwwards{
    position: fixed;
    right: 0;
    top: 50%;
    width: 40px;
    height: 170px;
    transform: translateY(-50%);
    background-color: $color1;
    z-index: 999;
    &__container{
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--logo{
            font-weight: 800;
            font-size: 28px;
            text-align: center;
            margin-top: 5px;
        }
        &--text{
            font-weight: 700;
            transform:translateY(60px) rotate(-90deg);
            width: 120px;
        }
    }
}