*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Sharp Grotesk Book 25";
    color: #333;
    font-size: 14px;
    line-height: 20px;
    background-color: $color2;
}